body{ 
	width: 100%; 
	background-color: #FFCE74; 
	font-family: 'Open Sans', sans-serif;
	color: #334D5C;
	overflow: auto;
	font-size: 18px;
}

h1{font-size: 5em;line-height: 1.5em; margin: 5px 20px;}
h2{font-size: 4em;line-height: 1.7em;margin: 5px 20px;}
h3{font-size: 3em;line-height: 1.5em;margin: 5px 20px;}
h4{font-size: 1.9em;line-height: 1.5em;margin: 5px 20px;}
h5{font-size: 1.7em;line-height: 1.5em;margin: 5px 20px;}

h1 span.sub,h2 span.sub,h3 span.sub,h4 span.sub,h5 span.sub{font-size: 0.4em;display: block;color: #5F5F5F;}
h1 span.sub{margin-top: -2.3em;}h2 span.sub{margin-top: -2.9em;}h3 span.sub{margin-top: -2.3em;}h4 span.sub{margin-top: -2.3em;}h5 span.sub{margin-top: -2.2em;}
.sub { color: #5F5F5F;}
p{}


.hidden {
	display: none;
}

.container-game{
	width: 960px;
	margin: auto;
	margin-top: 30px;
}

.header{text-align: center;}
.title-game{
	font-family: 'Roboto', sans-serif;
	font-size: 80px;
	display: inline-block;
}

.rules-game{
  margin-left: 23px;
  font-size: 1.8em;
  display: inline-block;
  text-align: left;
}

.game{
	margin-top: 50px;
}

label, input{
	display: inline-block;
	margin: 5px;
	border-radius: 5px;
	border :0px solid black;
}

button{
	cursor: pointer;
}

/*.btn-typeone, .room-join {
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  background: #8f7a66;
  padding: 5px 10px 5px 10px;
  border : 0px solid black;
  margin-top: 10px;
  cursor: pointer;
}

.btn-typeone:hover, .room-join:hover {
  background: #334D5C;
}*/

.btn-play{
	display: inline;
}

#pseudo-error, #rc-errors{
	color: #DF5A49;
}

.room{
	display: inline;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 30px;
}
.room-name{
	display: inline-block;
	width: 250px;
}

.room-info{
	display: inline-block;
	width: 50px;
}

.room-join{
	display: inline-block;
}

#rc-form{
	border : 1px solid #334D5C;
	margin: auto;
	margin-top: 60px;
	padding: 10px;
	border-radius: 5px;
	width: 80%;
}

#rc-form input {
	width: 200px;
	float: right;
	margin-top: -3px;
}

#rc-form label {
	width: 500px;
}

.create-server{
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 600;
}

.pending-game{
	text-align: center;
	color: #7E7E7E;
}

.game-player{
	display: inline;
	list-style: none;
}

.gp-name{
	display: inline;
	background-color: #fefefe;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.gp-score{
	display: inline;
	font-size: 25px;
	margin-left: 10px;
}

h4.gp-name span.sub, span#gb-word {display: inline; font-size: 1em;}

#game-board p:nth-child(1){margin: 15px;}

.g-stroke{
	list-style: none;
}
.g-stroke div{
	display: inline-block;
}

.gs-player {color: #707070; width: 90px;}

#gc-play{
	margin-top: 50px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
}
a{color: inherit;border-bottom: 2px solid #2F2F2F;transition: border-bottom 0.3s;text-decoration: none; cursor:pointer;}
a:hover{border-bottom: 3px solid #2F2F2F;}
button{  border-radius: 7%;border: 1px solid #2F2F2F;  border-bottom-width: 2px;background-color: inherit;width:auto;height: 30px;font-size: 0.8em;letter-spacing: 1px;margin: 5px; width: auto; padding: 5px 14px;transition: border-bottom-width 0.3s;}
button:hover{border-bottom-width: 1px}
label{font-size: 1.2em;}
input{font-size: 0.8em;line-height: 1.5em;vertical-align: middle;}
